<div class="email_content">
<p>Ai cerut resetarea parolei tale pentru platforma Voluntari CivicTechRo?</p>
<p>Daca ai cerut resetarea parolei tale pentru a accesa <a href="https://membri.civictech.ro" title"CivicTech Romania">membri.civictech.ro</a> cu adresa de email <tt><%= @to %></tt> atunci folosește butonul de mai jos pentru a finaliza procedura de resetare.</p>
<p><a class="btn btn-primary center-block text-center" href="<%= @url %>">Reseteaza Parola</a></p>
</div>

