<div class="email_content">
<h2>Bine ai venit în comunitatea CivicTech România!</h2>

<p>Te invităm să îți creezi o parolă nouă pentru contul de utilizator <strong><%= @user.email %></strong> în platforma de management al membrilor CivicTech<sup>RO</sup>.</p>

<a class="btn btn-primary center-block text-center" href="<%= @url %>">Creează-ți Parola</a>

<p>Și te așteptăm pe noul nostru Slack să ne cunoaștem!</p>

<a class="btn btn-primary center-block text-center" href="https://civictech.now.sh" target="_blank">Hai pe Slack</a>

<p>Pe curând! <br />
Echipa CivicTech<sup>RO</sup></p>
</div>

