<footer class="main-footer">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <span class="text-center center-block">Ca să poți accesa platforma de membri din Comunitatea CivicTechRO te invităm să completezi mai întâi formularul de înregistrare disponibil pe site-ul <a href="https://civictech.ro/hai-si-tu/">civictech.ro</a>.<br /> Te așteptăm alături de noi!</span>
    </div>
    <div class="col-md-12">
    <a href="https://github.com/civictechro">
      <%= image_tag 'GitHub-Mark-32px.png', alt: 'Octocat', class: 'center-block' %>
    </a>
  </div>
  </div>
</footer>

