<div class="jumbotron landing">
    <div class="col-lg-offset-6">
      <div class="signup-form">
        <h2><a href="https://civictech.ro/hai-si-tu/">Inscrie-te in comunitatea CivicTechRo!</a></h2>
        <%= render partial: 'shared/notice' %>
      </div>
    </div>
</div>
