<div class="jumbotron landing">
    <div class="col-lg-offset-6">
      <div class="signup-form">
        <a href="https://civictech.ro/hai-si-tu/">
          <div class="inscriete">
            <%= image_tag 'inscrie-te.png', alt: "Înscrie-te" %></a>
          </div>
          <h2 class="noto">în comunitatea<br /> civictechᴿᴼ!</h2>
        </a>
        <%= render partial: 'shared/notice' %>
      </div>
    </div>
</div>
