<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <%= render partial: 'shared/notice' %>
      <div class="login-form panel panel-default text-center">
	Higher level permissions are required to access the requested resource.
        <br /><br />
        <%= link_to "Click here to go back.", :back %>
      </div>
    </div>
  </div>
</div>
