<div class="container">  
  <div class="btn-group" role="group">
    <%= link_to new_communication_path, class: 'btn btn-default' do %>
     New Communication
    <% end %>
  </div>
  <div class="row">
    <span class="text-info notice"><%= notice %></span>
  <div>
  <div class="row">
    <%= render partial: 'shared/communications_table', locals: {communications: @communications} %> 
  </div>
  <div class="row will-paginate">
    <%= will_paginate @communications, renderer: BootstrapPagination::Rails %>
  </div>
</div>
