<table border="0"
  cellspacing="0"
  id="emailHeader">
  <tr class="brand" valign="middle">
    <td width="150px">
        <%= attached_image_tag 'header.png', class: 'email-header-png', width: '100%'%>
        <%= link_to :root do
          attached_image_tag 'civictech-logo.png', alt: 'CivicTech', width: '174px'
        end %>
    </td>
    <td>
      <%= yield :title %>
    </td>
  </tr>
</table>
